/* Styles for MainHeader.js */
.main-header {
    height: 10vh;
}

/* Styles for child components */

/* SignInHeaderRow.js */
.signin-header {
    background-color: #FEF9EF;
    height: 5vh;
}

a {
    color: #A2D2FF;
}

/* MainMenuHeaderRow.js */
.mainmenu-header {
    background-color: #A2D2FF;
    height: 5vh;
}